absl-py==2.0.0
adbutils==2.9.4
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiohttp-cors==0.8.1
aiosignal==1.3.2
aistudio-sdk==0.3.8
alembic==1.13.0
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.0.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
astor==0.8.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==5.0.1
attrs==23.2.0
Automat==22.10.0
Babel==2.13.1
bce-python-sdk==0.9.46
beautifulsoup4==4.12.2
bib-lookup==0.0.27
bidict==0.22.1
biosppy==2.1.1
bleach==6.1.0
browser-cookie3==0.19.1
cachetools==5.3.2
casadi==3.6.4
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.8
cloudpickle==3.0.0
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
colorful==0.5.7
colorlog==6.8.0
comm==0.1.4
comtypes==1.4.7
constantly==23.10.4
contourpy==1.1.1
cryptography==42.0.5
cssselect==1.2.0
cycler==0.12.1
Cython==3.0.8
d2l @ file:///C:/Users/haokw/Desktop/d2l-0.15.1-py3-none-any.whl#sha256=cb8d518a4e63b7bf37ea72bfd9e9c8b3f4de7d452fedcc8920197d806f5cf181
debugpy==1.8.0
decorator==4.4.2
defusedxml==0.7.1
deprecate-kwargs==0.0.4
Deprecated==1.2.14
deprecation==2.1.0
distlib==0.4.0
easyocr==1.7.2
einops==0.7.0
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==2.0.1
fastjsonschema==2.18.1
fastrlock==0.8.3
feedparser==6.0.11
fenics==2019.1.0
fenics-dijitso==2019.1.0
fenics-ffc==2019.1.0.post0
fenics-fiat==2019.1.0
fenics-ufl==2019.1.0
filelock==3.13.1
flatbuffers==23.5.26
FMPy==0.3.21
fonttools==4.43.1
fqdn==1.5.1
frozendict==2.3.8
frozenlist==1.5.0
fsspec==2023.10.0
future==1.0.0
gast==0.5.4
google-api-core==2.26.0
google-auth==2.23.4
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.70.0
greenlet==3.0.2
grpcio==1.59.2
h11==0.14.0
h2==4.1.0
h5py==3.10.0
hpack==4.0.0
html5lib==1.1
httpcore==1.0.4
httpx==0.27.0
huggingface-hub==0.17.3
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.4
imageio==2.36.0
imageio-ffmpeg==0.5.1
imagesize==1.4.1
importlib-metadata==6.8.0
importlib-resources==6.1.0
incremental==22.10.0
ipygany==0.5.0
ipykernel==6.26.0
ipython==8.17.2
ipython-genutils==0.2.0
ipywidgets==8.1.1
isoduration==20.11.0
jaraco.classes==3.3.1
jedi==0.19.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
json5==0.9.14
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.8.0
jupyter-lsp==2.2.0
jupyter_client==8.5.0
jupyter_core==5.5.0
jupyter_server==2.9.1
jupyter_server_terminals==0.4.4
jupyterlab==4.0.8
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab_server==2.25.0
kaggle==1.7.4.5
keras==2.14.0
keras-tcn==3.5.0
keyring==24.3.1
kiwisolver==1.4.5
lark==1.2.2
lazy_loader==0.4
libclang==16.0.6
lightgbm @ file:///D:/edge%E4%B8%8B%E8%BD%BD/lightgbm-4.6.0-py3-none-win_amd64.whl#sha256=37089ee95664b6550a7189d887dbf098e3eadab03537e411f52c63c121e3ba4b
llvmlite==0.43.0
lxml==4.9.3
lz4==4.3.3
Mako==1.3.0
Markdown==3.5.1
MarkupSafe==2.1.3
matplotlib==3.8.1
matplotlib-inline==0.1.6
mistune==3.0.2
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service==2.4.0
ml-dtypes==0.2.0
modelscope==1.30.0
module-name==0.6.0
monitorcontrol==3.1.0
more-itertools==10.2.0
MouseInfo==0.1.3
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.1.0
mss==10.1.0
multidict==6.1.0
multitasking==0.0.11
natsort==8.4.0
nbclient==0.8.0
nbconvert==7.10.0
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.2.1
ninja==1.13.0
notebook==7.0.6
notebook_shim==0.2.3
numba==0.60.0
numpy==1.26.4
oauthlib==3.2.2
opencensus==0.11.4
opencensus-context==0.1.3
opencv-contrib-python==4.10.0.84
opencv-python==4.9.0.80
opencv-python-headless==4.12.0.88
openpyxl==3.1.2
opentelemetry-api==1.38.0
opentelemetry-exporter-prometheus==0.59b0
opentelemetry-proto==1.38.0
opentelemetry-sdk==1.38.0
opentelemetry-semantic-conventions==0.59b0
opt-einsum==3.3.0
optuna==3.5.0
outcome==1.3.0.post0
overrides==7.4.0
packaging==25.0
paddleocr==3.2.0
paddlex==3.2.1
pandas==2.1.2
pandas-datareader==0.10.0
pandocfilters==1.5.0
parsel==1.8.1
parso==0.8.3
pathlib==1.0.1
patsy==0.5.6
peewee==3.17.0
pefile==2023.2.7
Pillow==10.1.0
pipdeptree==2.28.0
platformdirs==3.11.0
playsound==1.3.0
plotly==5.18.0
plyer==2.1.0
polars==1.5.0
pooch==1.8.2
prettytable==3.16.0
proglog==0.1.10
prometheus-client==0.18.0
prompt-toolkit==3.0.39
propcache==0.2.1
proto-plus==1.26.1
protobuf==6.33.0
psutil==5.9.6
pure-eval==0.2.2
py-cpuinfo==9.0.0
py-spy==0.4.1
pyaml==23.9.7
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAutoGUI==0.9.54
pyclipper==1.3.0.post6
pycparser==2.21
pycryptodome==3.23.0
pycryptodomex==3.20.0
pydantic==2.11.9
pydantic_core==2.33.2
pydub==0.25.1
pyEDFlib==0.1.36
pygad==3.3.1
pygame==2.6.0
PyGetWindow==0.0.9
Pygments==2.16.1
pyinstaller-hooks-contrib==2024.6
PyMsgBox==1.0.9
pymssql==2.3.8
PyMySQL==1.1.2
pynput==1.8.1
pyodbc==5.2.0
pyOpenSSL==24.1.0
pyparsing==3.1.1
pypdfium2==4.30.0
pyperclip==1.9.0
pypiwin32==223
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
pyquery==2.0.1
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
python-bidi==0.6.6
python-dateutil==2.8.2
python-docx==1.1.0
python-dotenv==1.0.1
python-json-logger==2.0.7
python-okx==0.2.8
python-slugify==8.0.4
pytorch-ranger==0.1.1
pytweening==1.2.0
pytz==2023.3.post1
pyvista==0.44.2
pyvistaqt==0.11.1
PyWavelets==1.5.0
pywin32==306
pywin32-ctypes==0.2.2
pywinauto==0.6.9
pywinpty==2.0.12
PyYAML==6.0.2
pyzmq==25.1.1
qtconsole==5.4.4
QtPy==2.4.1
ray==2.50.1
rdkit @ file:///C:/Users/Admin/Desktop/rdkit-2025.9.1-cp39-cp39-win_amd64.whl#sha256=8dd67e9291aa0561c97a1015d2a62926beafac6d2240e7110578c20fca300f00
rdkit-pypi @ file:///C:/Users/Admin/Desktop/rdkit_pypi-2022.9.5-cp39-cp39-win_amd64.whl#sha256=49a11a0073af942fb88bcaf93e6a2493adc5df5dc6624127e27b687845064e7d
referencing==0.30.2
regex==2023.10.3
reportlab==4.2.5
requests==2.31.0
requests-oauthlib==1.3.1
retry2==0.9.5
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.10.6
rsa==4.9
ruamel.yaml==0.18.15
ruamel.yaml.clib==0.2.12
safetensors==0.4.0
scikit-image==0.24.0
scikit-learn==1.3.2
scikit-optimize==0.9.0
scipy @ file:///C:/b/abs_2ea4kcjtpg/croot/scipy_1714080455387/work/dist/scipy-1.13.0-cp39-cp39-win_amd64.whl#sha256=900f80f3cad808d3dca1a1d4c888772d33a30ed628e4926cd58e215cfacf3e4d
scooby==0.10.0
screeninfo==0.8.1
seaborn==0.13.0
selenium==4.21.0
Send2Trash==1.8.2
sgmllib3k==1.0.0
shapely==2.0.6
shortuuid==1.0.11
six==1.16.0
smart_open==7.3.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.23
stack-data==0.6.3
statsmodels==0.14.1
sympy==1.13.3
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.14.1
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.14.0
tensorflow-addons==0.22.0
tensorflow-estimator==2.14.0
tensorflow-intel==2.14.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
terminado==0.17.1
text-unidecode==1.3
threadpoolctl==3.2.0
tifffile==2024.8.30
tinycss2==1.2.1
tokenizers==0.14.1
tomli==2.0.1
torch @ file:///C:/Users/haokw/Desktop/torch-1.13.0%2Bcu117-cp39-cp39-win_amd64.whl#sha256=609017e9c9f0e20e6e4b82caab3c3c998e347bb179618777ef3570ca206bc283
torch-ecg==0.0.27
torch-optimizer==0.3.0
torchsummary==1.5.1
torchvision @ file:///C:/Users/haokw/Desktop/torchvision-0.14.0%2Bcu117-cp39-cp39-win_amd64.whl#sha256=9daef60a1484389c261cac3e813232dccca7ed9491e08152471e7718131becb3
tornado==6.3.3
tqdm @ file:///C:/b/abs_f76j9hg7pv/croot/tqdm_1679561871187/work
traitlets==5.13.0
traittypes==0.2.1
trame==3.7.6
trame-client==3.5.1
trame-server==3.2.7
transformers==4.34.1
trio==0.25.1
trio-websocket==0.11.1
Twisted==24.3.0
twisted-iocpsupport==1.0.4
typeguard==2.13.3
types-python-dateutil==2.8.19.14
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2023.3
uiautomator2==3.4.0
ujson==5.11.0
uri-template==1.3.0
urllib3==2.0.7
virtualenv==20.35.3
vtk==9.3.1
w3lib==2.1.2
wcwidth==0.2.9
webcolors==1.13
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.6.4
Werkzeug==3.0.1
wfdb==3.2.0
widgetsnbextension==4.0.9
WMI==1.5.1
wrapt==1.14.1
wslink==2.2.2
wsproto==1.2.0
wxauto==3.9.11.17.5
xgboost==2.1.1
XlsxWriter==3.1.9
xmltodict==0.13.0
yarl==1.18.3
yfinance==0.2.31
zipp==3.17.0
zope.interface==6.2
